body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    flex-direction: column;
}
nav {
    background-color: #5169a7;
    padding: 15px 10px;
}

nav > h1 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-right: auto;
}

nav > a {
    font-size: 0.85rem;
    padding-left: 5px;
    color: black;
    text-decoration: none;
}

nav > a :visited {
    color: black;
}

nav > :nth-child(3n) {
    font-weight: 900;
}

section {
    background-color: #d09d72;
    padding: 12px 10px;
}

section img {
    width: 26px;
    height: 25px;
}

section a {
    margin-right: auto;
}

section > h3 {
    font-weight: 300;
}
main {
    background-color: #d1bead;
    height: 100%;
    padding: 10px 10px;
}

form {
    flex-direction: column;
}

h2 {
    font-size: 1.2rem;
    padding: 20px 0;
}

input {
    background-color: #d1bead;
    border: none;
    border-bottom: #8d4ec4 2px solid;
    margin-bottom: 12px;
}

input:focus {
    outline: none;
}

label {
    padding-bottom: 5px;
}

button {
    margin-top: 10px;
    background-color: #5069a7;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    width: 30%;
}
footer {
    background-color: #5169a7;
    justify-content: center;
    padding: 20px;
}

footer > img {
    width: 80px;
}

.display-flex {
    display: flex;
}
